/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 15px Helvetica, Arial, sans-serif;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 1em 0;
}

h1 {
  font-size: 22px;
}
h2 {
  font-size: 16px;
}


p { margin: 1em 0; }

a         { color: #00e; text-decoration: none;}
a:hover   { color: #000; text-decoration: underline;}

.share {
  margin: 20px;
  text-align: center;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
.posts h1 a {
  color: inherit;
}

.card {
  /*border-top: 2px solid #fafafa;*/
  border-bottom: 2px solid #fafafa;
  padding: 16px;
  border-radius: 3px;
  /*margin-bottom: 32px;*/
}
.card .content {
  margin: 0 0 0 140px;
}
.card .content *:first-child {
  margin-top: 0;
}
.card .content p:last-child {
  margin-bottom: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.bullets span {
  padding: 6px;
}
.bullets.center {
  text-align: center;
  padding: 32px;
  color: #999;
}
.bullets.center  a {
  color: #999;
}


img.profile {
  float: left;
  width: 120px;
  border-radius: 60px;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  width: 760px;
  margin: 0 auto;
}

@media(max-width: 792px) {
  .container {
    width: auto;
    padding: 0 16px;
  }
  img.profile {
    display: block;
    float: none;
  }
  .card .content {
    margin: 0;
  }
}

.meta {
  margin-top: 0;
  color: #aaa;
}
h1 + p.meta {
  margin-top: -11px;
}

.header {
  /*background: #fafafa;*/
  border-bottom: 1px solid #f3f3f3;
  min-height: 1px;
  line-height: 48px;
}
.header * {
  margin-bottom: 0;
}
.header .title {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 140px;
  text-align: center;
  color: #a00;
  font-size: 22px;
}

.header a:hover {
  background-color: #fafafa;
  text-decoration: none;
}

.header ul {
  list-style-type: none;
  float: left;
}
.header ul li {
  display: inline-block;
}
.header ul li a {
  display: block;
  padding: 0 16px;
  color:   #333;
}


.header .contact {
  border-top: 1px solid #fafafa;
  padding-top: 16px;
}

.header .contact a {
  color: #8085C1;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin-bottom: 48px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

pre {
  border-left: 1px solid #ddd;
  background-color: #fafafa;
  padding: 6px 10px;
  margin: 16px 0;
  overflow-x: auto;
}

code {
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 0 .2em;
}

pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
