/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 15px 'Source Sans Pro', sans-serif;
  line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 1em 0;
  font-weight: normal;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
h3, h4 {
  font-size: 120%
}


p { margin: 1em 0; }

a         { color: #00e; text-decoration: none;}
a:hover   { color: #000; text-decoration: underline;}

ul, ol {
  margin-left: 1.35em;
}

ul.vsp li {
	margin-bottom: 1em;
}

.text-muted {
	color: #aaa;
}

.label {
	background: #eee;
	border: 1px solid #ccc;
	font-size: 90%;
	padding: 4px 8px;
}

.title h1 {
	margin-bottom: 0.5em;
}
.title p {
	margin-top: 0.5em;
}

.pull-right {
	float: right;
}

.share {
  margin: 20px;
  text-align: center;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
h1 a {
  color: inherit;
}

.vcard {
  border-bottom: 2px solid #f3f3f3;
  padding: 16px;
  border-radius: 3px;
}
.vcard .content *:first-child {
  margin-top: 0;
}
.vcard .content p:last-child {
  margin-bottom: 0;
}

.card {
	margin-bottom: 40px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.bullets span {
  padding: 6px;
}
.center {
  text-align: center;
}
.bullets {
  color: #999;
	padding: 32px;
}
.bullets.center  a {
  color: #999;
}


img.gravatar {
  float: left;
  width: 120px;
  border-radius: 60px;
  margin: 0 40px 40px 8px;
}

.gravatar.vsp {
	margin-top: 20px;
}

.list-group-item {
	padding-top: 1em;
	border-bottom: 1px solid #f0f0f0;
}
.list-group-item h4 {
	margin-top: 0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  width: 40rem;
  margin: 0 auto;
}
.container.content {
	padding-bottom: 40px;
}

@media(max-width: 792px) {
  .container {
    width: auto;
    padding: 0 16px;
  }
  img.gravatar {
    display: block;
    float: none;
    margin: 0 auto 40px;
  }
  .vcard .content {
    margin: 0;
  }
}

.meta {
  margin-top: 0;
  color: #aaa;
}
h1 + p.meta {
  margin-top: -11px;
}

.navbar {
  /*background: #fafafa;*/
  border-bottom: 1px solid #f3f3f3;
  min-height: 1px;
  line-height: 48px;
}
.navbar * {
  margin-bottom: 0;
}
.navbar .title {
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 140px;
  text-align: center;
  color: #a00;
  font-size: 22px;
}

.navbar a:hover {
  background-color: #fafafa;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  float: left;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  padding: 0 16px;
  color:   #333;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin-bottom: 48px;
}

pre {
  border-left: 1px solid #ddd;
  background-color: #fafafa;
  padding: 6px 10px;
  margin: 16px 0;
  overflow-x: auto;
}

.pagination {
	margin: 0 auto;
	text-align: center;
}
.pagination > * {
	margin: auto 8px;
}