<div class="vcard clearfix">
  <img src="https://secure.gravatar.com/avatar/7a41557b7c7541efe54d8e698f85643c?s=120" class="gravatar"/>
  <div class="content">
    <h1>Hi, I'm Jacob,</h1>
    <p>
    	I am passionate about the web and algorithms.<br />
	    I write about javascript mostly, but no promises!
	  </p>

    <div class="bullets center">
    	<a href="https://linkedin.com/in/jacobwejendorp">LinkedIn</a><span>•</span><a href="https://github.com/wejendorp">Github</a><span>•</span><a href="https://twitter.com/wejendorp">Twitter</a>
    </div>
  </div>
</div>
